<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="https://github.com/yorifuji/dev-skyway1">
    <title>seaside</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
      body {
        margin: 0px;
        padding: 0px;
      }
      .container {
        margin: 0px;
        padding: 0px;
        max-width: initial;
      }
      .video-container {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        background-color: dimgray;
      }
      .video-frame {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
      }
      video {
        height: 100%;
        width: 100%;
      }
      video.cover {
        object-fit: cover;
      }
      span.nav-link, button.dropdown-item {
        cursor: pointer;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="vue-app" class="container">
      <div class="video-container">
        <div class="video-frame" v-for="user in rendererUsers" :user="user" :style="user.style">
          <video v-source="user.stream" :class="styleCover" @click="click_video(user.stream)" autoplay playsinline></video>
        </div>
      </div>
      <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
        <!-- <span class="navbar-brand">seaside</span> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropup">
              <span class="nav-link dropdown-toggle" id="dropdown_mode" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :class="{disabled : is_online}">Mode</span>
              <div class="dropdown-menu" aria-labelledby="dropdown_mode">
                <button type="button" class="dropdown-item" v-for="mode in skyway.conn_type.mode" :class="{active : mode.value == skyway.conn_type.using.value}" @click="select_skyway_conntype(mode)">{{ mode.label }}</button>
              </div>
            </li>
            <li class="nav-item dropup">
              <span class="nav-link dropdown-toggle" id="dropdown_video" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Video</span>
              <div class="dropdown-menu" aria-labelledby="dropdown10">
                <button type="button" class="dropdown-item" v-for="mode in video.codec.mode" :class="{active : video.codec.using && mode.value == video.codec.using.value, disabled: is_sfu}" @click="select_codec(mode)">{{ mode.label }}</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item" v-for="mode in video.size.mode" :class="{active : video.size.using && mode.value == video.size.using.value}" @click="select_size(mode)">{{ mode.label }}</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item" v-for="mode in video.fps.mode" :class="{active : video.fps.using && mode.value == video.fps.using.value}" @click="select_fps(mode)">{{ mode.label }}</button>
              </div>
            </li>
            <li class="nav-item dropup">
              <span class="nav-link dropdown-toggle" id="dropdown_camera" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :class="{disabled : !has_camera}">Camera</span>
              <div class="dropdown-menu" aria-labelledby="dropdown_camera">
                <button type="button" class="dropdown-item" v-for="cam in camera.device" :class="{active : camera.using && camera.using.deviceId == cam.deviceId}" @click="select_camera(cam)">{{ cam.label }}</button>
              </div>
            </li>
            <li class="nav-item dropup">
              <span class="nav-link dropdown-toggle" id="dropdown_microphone" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :class="{disabled : !has_microphone}">Microphone</span>
              <div class="dropdown-menu" aria-labelledby="dropdown_microphone">
                <button type="button" class="dropdown-item" v-for="mic in microphone.device" :class="{active : microphone.using && microphone.using.deviceId == mic.deviceId}" @click="select_mic(mic)">{{ mic.label }}</button>
              </div>
            </li>
            <li class="nav-item dropup">
              <span class="nav-link dropdown-toggle" id="dropdown_layout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layout</span>
              <div class="dropdown-menu" aria-labelledby="dropdown_layout">
                <button type="button" class="dropdown-item" v-for="mode in layout.mode" :class="{active : mode.value == layout.using.value}" @click="select_layout(mode)">{{ mode.label }}</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item" v-for="mode in renderer.mode" :class="{active : mode.value == renderer.using.value}" @click="select_renderer(mode)">{{ mode.label }}</button>
              </div>
            </li>
            <li class="nav-item dropup">
              <span class="nav-link dropdown-toggle" id="dropdown_stats" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :class="{disabled: is_mesh || is_sfu}">Stats</span>
              <div class="dropdown-menu" aria-labelledby="dropdown_layout">
                <button type="button" class="dropdown-item" :class="{active : skyway.stats}" @click="select_stats()">Output status on console</button>
              </div>
            </li>
          </ul>
          <span class="navbar-brand" :class="{invisible : !is_p2p }" v-cloak>{{ skyway.peer ? skyway.peer.id  : "" }}</span>
          <form class="form-inline mt-2 mt-md-0" @submit.prevent="call">
            <input class="form-control mr-sm-2" type="text" :placeholder="is_p2p ? 'PeerID' : 'Room Name'" aria-label="call" v-model="skyway.callto" :readonly="is_online">
            <button class="btn btn-outline-success my-2 my-sm-0" v-cloak>{{ (this.skyway.call || this.skyway.room) ? "leave" : is_p2p ? "Call" : "Join" }}</button>
          </form>
      </div>
      </nav>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script src="./key.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    <script src="./main.js"></script>

    <script type="text/javascript">
      $(window).on('load resize', function(){
        $(".container").width(window.innerWidth);
        $(".container").height(window.innerHeight - $(".navbar").outerHeight());
      });
    </script>

  </body>
</html>
