<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bottom navbar example for Bootstrap</title>
    <style type="text/css">
      body {
        margin: 0px;
      }
      .video-container {
        height: 200px;
        position: relative;
        overflow: hidden;
      }
      @media (min-width: 600px) {
        .video-container {
          height: 100vh;
        }
      }
      video {
        -o-object-fit: cover;
          object-fit: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
    </style>
  </head>
  <body>
    <section id="vue-app" class="video-container">
      <video v-for="user in users" v-if="user.stream" :id="user.peerId" v-source="user.stream" :style="user.style" autoplay playsinline></video>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript"></script> -->
    <script type="text/javascript" src="./script/vue.js"></script>
    <script type="text/javascript" src="./script/main.js?foo=bar"></script>

    <script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script type="text/javascript" src="./skyway/key.js"></script>
    <script type="text/javascript" src="./skyway/script.js?foo=bar"></script>

  </body>
</html>
